p {
    color: #0f010cad;
    font-size: 14px;
}

h1 {
    color: rgb(83, 12, 7);
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

body {
    background-color: rgba(241, 173, 217, 0.153);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}